html, body {
  background: #161616;
  color: #ababab;
  font-family: 'Martian Mono';
}

a {
  color: #fff;
  text-decoration: underline;
}

a, a:visited {
  color: #ababab;
}

.splash {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.left.floated {
  float: left;
}

img.left.floated {
  margin-right: 1em;
}

img.small {
  max-height: 12em;
  max-width: 12em;
  margin: 2em;
}
